body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#info {
	position: absolute;
	/* top: 100px;
  margin-top: auto;
	width: 100%;
	text-align: center;
	z-index: 0;
	display:block;
  size: 100px; */
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;	
  text-align: left;
  font-size:5vw;
}